*.o
.deps
*.lo
*.a
.dirstamp
Makefile
Makefile.in
config.log
config.status
configure
aclocal.m4
autom4te.cache/*
build-aux/*
.libs
bitcoin-cli
bitcoin-tx
bitcoind
src/config/*
*.la
.autotools
.cproject
.project
.settings/
.vscode/
godcoin.config
godcoin.creator
godcoin.creator.user
godcoin.files
godcoin.includes
nodedata1/
toData
contrib/devtools/split-debug.sh
libbitcoinconsensus.pc
libtool
share/qt/Info.plist
share/setup.nsi
test/config.ini
